@model IEnumerable<Workshop2.Models.BookDataBase>

@{
    ViewBag.Title = "Index";
}

<h2>圖書維護</h2>

<p>
    @using (Html.BeginForm("Index", "Book_maintenance", FormMethod.Get))
    {
<p>
    書名: @Html.TextBox("SearchBookName")
    類別: @Html.DropDownList("SearchClassName", "全部")
    借閱人: @Html.DropDownList("SearchBrrower", "全部")
    借閱狀態: @Html.DropDownList("SearchStatus", "全部")
    <input type="submit" value="查詢" class="btn btn-default" />
    <input type="reset" value="清除" class="btn btn-default" onclick="javascript:window.location='@Url.Action("Index")'" />
    <input type="button" value="新增" class="btn btn-default" onclick="javascript:window.location='@Url.Action("Insert", "Book_maintenance")'" />
</p>
    }
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_Class_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_BoughtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_Brrower)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Class_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_BoughtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Brrower)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { Book_ID = item.Book_ID }) |
                @Html.ActionLink("刪除", "Delete", new { @Id = "delete", Book_ID = item.Book_ID })
            </td>
        </tr>
        }

    </table>